[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
ollama = "*"
llama-index = "*"
llama-index-llms-ollama = "*"
llama-index-llms-openai = "*"
llama-index-llms-openai-like = "==0.8.0"
llama-index-embeddings-openai = "*"
python-docx = "*"
docx2txt = "*"
python-pptx = "*"
openpyxl = "*"
xlrd = "*"
nbconvert = "*"
nbformat = "*"
odfpy = "*"
extract-msg = "*"
olefile = "*"
striprtf = "*"
defusedxml = "*"
rank-bm25 = "*"
llama-index-readers-web = "*"
llama-index-readers-file = "*"
html2text = "*"
ebooklib = "*"
llama-index-core = "*"
fsspec = "*"
requests = "*"
nltk = "*"
httpx = "*"

[dev-packages]
ruff = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.13"
