streamlit
ollama
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
pycryptodome
nbconvert
pyexiftool
llama-index-readers-web
llama-index-readers-file
html2text
streamlit-tags
streamlit-extras
black
torch
torchvision
colorama
ebooklib
llama-index-core
fsspec
